{% extends "layout.html" %}

{% block content %}

<head>
 <title>MAS VALE PREVENIR QUE LAMENTAR
 </title>
</head>
<body>

<font-size=3>
    
        <HTML>
            <BODY>
            <SPAN style="position: absolute; top: 150px; left: 100 px;">
                <em> Cualquier persona,organización corporativa puede ser vulnerable tanto ataques externos como internos.No siempre sabemos si estamos siendo atacados o espiados si no tenemos los conocimientos basicos en computación y muchas veces es demasiado tarde ,ya que los cyberdelincuentes nos han arrebatado nuestra información valiosa.

                    El ámbito de resguardo de los sistemas informáticos de una compañía debe enfocarse en la prevención y el combate de ataques informáticos, ya que al perpetrarse estos, son capaces de generar el colapso de las operaciones.
                    Las consecuencias a todo esto,son pérdidas económicas,etc.
                    Gracias a la seguridad informática, las pequeñas y medianas empresas pueden contar con un sistema que les brindará máximo rendimiento, a la vez de prevenir situaciones informáticas indeseadas, y controlar posibles pérdidas originadas por estas.</em>
            </SPAN>
            </BODY>
            </HTML>
        {% endblock %}

