<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>solucion a su SEGURIDAD</title>
  <em><h3>SEGURIDAD INFORMATICA</h3>
  </em>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!--colocamos las llaves para que python reconozca el texto html-->
<!--utillizamos bootrap css para que tengamos un mejor diseño de pa web -->
</head>
<body>
  <!-- Búsqueda Google -->
  <ul class="nav justify-content-end">
    <a class="nav-link" href="{{ url_for('opiniones') }}">Opiniones</a>
    </li>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://www.google.es">Google</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('about') }}">About</a>
    </li>
    </ul>

    <ul>
      <ul class="nav justify-content-center"></ul>
      <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
    
    </ul>

    
    <ul>
      <ul class="nav justify-content-center"></ul>
      <li><a href="{{ url_for('descripcion_problema') }}">Describa su problema</a></li>
    
    </ul>
   
</div>
  <!-- Búsqueda Google -->
<div class="container P2"><!--con esto centramos la imagen-->
  {% block content %} <!--aqui iria el bloque de contenido-->
  {% endblock %}
</div>
 
   <!--aqui acabarael bloque de contenido--> 
</body>

</html> 
<!--para una mejor navegacion dentro de boottrap pinchamos en componentes y hay muchos codigos para eligir y elegimos navbar-->


